
{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<style>
    
</style>
<div class="container">
    {{ article.name }} <br>
    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="">


</div>

{% endblock %}
