
{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<style>
    
</style>
<div class="container">
    {{ article.name }} <br>
    <img src="public/images/articles/{{ article.image }}" alt="">


</div>

{% endblock %}
