easy_admin:
   entities:
#        


          Article:
            # ...
            list:
                fields:
                    - id
                    - name
                    - category
                    - description
                    - price
                    - { property: 'image', type: 'image', base_path: '/images/articles' }
            # ...
            show:
                fields:
                    - name
                    - category
                    - description
                    - price
                    - { property: 'image', type: 'image', base_path: '%kernel.project_dir%/public/images/articles' }
            class: App\Entity\Article
            form:
                fields:
                    - name
                    - { property: category, type: choice, type_options: {choices:  {'resto':'resto', 'bistro':'bistro', 'expo':'expo'}}}
                    - { property: 'description', type: 'textarea'}
                    - price
                    - { property: 'imageFile', type: 'vich_image' }