body{
  background-color:#0A1C2E;
  
}
nav{
    
}

.card{
  margin:0 auto;
  margin-bottom:50px;
  border:2px solid lightgrey;
  transition: all 0.3s;
  
}
.card:hover{
  
  transform: scale(1.1);
}
.card-columns{
    padding-top:100px;
}
h2{
  text-align:center;
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:70px;
  letter-spacing:3px;
  font-weight: bold;
}
.typewriter h1 {
  font-family: 'Roboto Condensed', sans-serif; /* Web-safe typewriter-like font */
  color:white;
  font-size:70px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1s steps(30, end),
    blinking-cursor .5s step-end infinite;
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
