.btn-lg{
  background-color:white;
  color:#0A1C2E;
  font-weight:bold;
  font-family: 'Roboto Condensed', sans-serif;
}
.btn-lg:hover{
  background-color:#0A1C2E;
  color:white;
  transition:0.5s;

}
html{
  scroll-behavior: smooth;
}
html,body{
  background-color:#0A1C2E;
}
.article{
  padding-bottom:20px;
}
.card-img-top:hover{
}

.card{
  margin:0 auto;
  margin-bottom:50px;
  border:2px solid lightgrey;
  transition: all 0.3s;
  
}
.card:hover{
  
  transform: scale(1.05);
}
h1{
  font-family: 'Lora', serif;
  text-align:center;
}
h2{
  text-align:center;
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom:30px;
  padding-top:40px;
  font-weight:bold;
}
.topresto, .topbistro, .topexpo{
}
.topresto a, .topbistro a, .topexpo a{
  color:black;
  text-decoration:none;
}
.topresto, .topbistro{
  margin-right:24px;
}


h5.card-title{
  font-family: 'Lora', serif;
  font-weight:bold;
}
.price{
  font-weight:bold;
}
h2 span{
  border-bottom:6px solid #2867cc;
}
.jumbotron {
  height:calc(100vh - 116px);
  background-position: center !important; /* Center the image */
  background-repeat: no-repeat !important; /* Do not repeat the image */
  background-size: cover !important;
  
}


.haut{
  height:100%;
}
.container-top{
  padding-bottom:50px;
  padding-top:50px;
}

.haut-gauche{
  font-size:4.5vw;
  font-weight:bold;
  color:white;
  margin:auto;
}
.haut-gauche p {
  /* background-color:#020F23; */
  text-align:center;
}
.center-con {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:8vh;
}

.round {
    position: relative;
    border: 5px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

span.fleche {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
    font-weight:bold;
}

span.fleche:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span.fleche:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span.fleche:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span.fleche:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span.fleche:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span.fleche:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span.fleche:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span.fleche:nth-child(4) {
  transform: rotate(-225deg);
}

.moncarousel{
  margin:auto;
}

/* scroll */
  
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 45%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  box-shadow: inset 0 0 0 3px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
